// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  padding: 0;
  margin: 0;
}
body{
  background: url("fondo2.jpg") no-repeat;
  height: 590px;

}
div.img-peque{
  margin:10px 30px;
  height: 60px;
  width: 60px;
}
img{
  height: 100%;
  width: 100%;
}

.fondo{
  background: rgba(0,0,0,0.6);
  margin: 10px 75px;
  padding:20px;
  border-radius: 4px;
  color:orange;
}

ul a{
  color:orange;
  font-weight: bold;
}

ul a:hover{
  text-decoration: none;
  color:#f2e9e6;
}

li{
  list-style: none;
}

input.fondo-input{
  background: rgba(255, 165, 0, 0.1);
  color: white;
  font-weight: bold;
}
