<!DOCTYPE html>
<html>
<head>
  <title>Ironbnb</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel = "stylesheet" href="menu.css">
</head>
<body>
  <div class = "container-fluid">

      <%= yield %>

      <section class = "row">








      </section>

      <footer class = "row">

      </footer>
  </div> <!--fin del container-->
</body>
</html>
